body,h1,h2,h3,h4,p{
	margin:0;
}
img{
	border:none;
	vertical-align: top;
}
input{
	border:none;
	padding:0;
	outline: none;
}
ul,dl,dd,ol{
	margin:0;
	padding:0;
	list-style: none;
}
a{
	text-decoration: none;
}

